 .u-section-1 {
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: bold;
  margin: 274px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-1 .u-list-1 {
  width: 621px;
  margin: 30px auto 60px;
}

.u-section-1 .u-repeater-1 {
  min-height: 60px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  background-image: linear-gradient(to right, #478ac9, #e68387);
  margin: 0 auto;
  padding: 9px 22px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(#478ac9, #e68387);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: normal;
  margin: 0 auto;
  padding: 9px 22px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  background-image: linear-gradient(to right, #e68387, #478ac9);
  margin: 0 auto;
  padding: 9px 22px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-btn-3 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    min-height: 180px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 686px;
}

.u-section-2 .u-text-1 {
  margin: 11px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 308px;
  background-image: url("images/f5b5e535281fb4be1c16f6126afe4b6a29face3dbc3c68435daf2d2c8890cc0342e0a7def8bd2838975257c3966c47219bc550caa7ded1f6e6ba84_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 308px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-2 {
  min-height: 308px;
  background-image: url("images/627162fb0da47071632c8187b1b4c9e40114c661eba5282592c3556b6a087de4e3c1e19a3ad5e6c803ba4c9abc2891ffda64bae569ec944d5c2211_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 308px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  letter-spacing: 0px;
  margin: 10px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-5 {
  margin: 21px 0 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 308px;
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  margin: 29px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-3 {
  min-height: 308px;
  background-image: url("images/d9d581f95ca316568addfbe7acb5ca39cc0e40aeb1d90fa0f8b259c410d26852e7738c2e6bec5276faee7e8de207dc8a7b641b730cba8fe1dbf61a_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 308px;
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  margin: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-4 {
  min-height: 308px;
  background-image: url("images/66e713da5ded07177e684c5f577af56fa528c25ef0173f6b5fc3033c2049b489adb13bcc8fd953948630a478674b63c895ef3dd1513dc079db71db_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-2 .u-text-1 {
    font-weight: normal;
  }

  .u-section-2 .u-image-1 {
    min-height: 254px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 254px;
  }

  .u-section-2 .u-image-2 {
    min-height: 254px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 254px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 254px;
  }

  .u-section-2 .u-image-3 {
    min-height: 254px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 254px;
  }

  .u-section-2 .u-image-4 {
    min-height: 254px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1520px;
  }

  .u-section-2 .u-image-1 {
    min-height: 389px;
    order: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
    order: 1;
  }

  .u-section-2 .u-image-2 {
    min-height: 389px;
    order: 3;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
    order: 2;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
    order: 1;
  }

  .u-section-2 .u-image-3 {
    min-height: 389px;
    order: 0;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
    order: 2;
  }

  .u-section-2 .u-image-4 {
    min-height: 389px;
    order: 3;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2412px;
  }

  .u-section-2 .u-image-1 {
    min-height: 584px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 584px;
    order: 2;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    order: 3;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 584px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-7 {
    order: 3;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 584px;
    order: 2;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1644px;
  }

  .u-section-2 .u-image-1 {
    min-height: 368px;
  }

  .u-section-2 .u-image-2 {
    min-height: 368px;
  }

  .u-section-2 .u-image-3 {
    min-height: 368px;
  }

  .u-section-2 .u-image-4 {
    min-height: 368px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 682px;
}

.u-section-3 .u-text-1 {
  width: 525px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 525px;
  margin: 11px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 407px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin-left: 0;
  line-height: 2;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 407px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-rotation-parent-1 {
  width: 239px;
  height: 239px;
  margin: 46px auto 0;
}

.u-section-3 .u-image-1 {
  width: 239px;
  height: 239px;
  background-image: url("images/prophoto.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 407px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  margin: 0;
}

.u-section-3 .u-text-6 {
  line-height: 2.2;
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 336px;
  }

  .u-section-3 .u-image-1 {
    margin: 46px auto 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 336px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 508px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-rotation-parent-1 {
    width: 180px;
    height: 121px;
  }

  .u-section-3 .u-image-1 {
    width: 200px;
    height: 200px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 951px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 452px;
  }

  .u-section-3 .u-image-1 {
    width: 374px;
    height: 374px;
    margin-bottom: -48px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 740px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 352px;
  }

  .u-section-3 .u-image-1 {
    width: 294px;
    height: 294px;
    margin-bottom: -2px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 460px;
}

.u-section-4 .u-text-1 {
  width: 182px;
  margin: 36px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  width: 519px;
  margin: 36px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    width: 182px;
  }
}